<div class="component-inner resizableIframe-inner">
  {{> component this}}
  <div class="component-widget resizableIframe-widget">
    <div class="resizableIframe-iframe-holder">
      <iframe src="{{_source}}" scrolling="no"></iframe>
    </div>
  </div>
</div>